/*================================================================================
	Item Name: VIP
	Version: 2.0
	Author: Shihan
	Author URL: http://codeworklab.com/
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.img-thumbnail-cart {
    padding: 0.25rem;
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}

li.page-item.prev-item.disabled, li.page-item.next-item.disabled {
    display: none;
}

.app-ecommerce-details .item-features{background-color:#f7f7f7}.swiper-container .swiper-shadow{box-shadow:2px 8px 10px 0 rgba(25,42,70,.13)!important}.swiper-responsive-breakpoints.swiper-container .swiper-slide{text-align:center;font-weight:500;background-color:#f7f7f7;padding:1.5rem;cursor:pointer}.swiper-button-next,.swiper-button-prev,.swiper-container-rtl .swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:none;width:35px;font-size:2rem}.swiper-button-next:focus,.swiper-button-prev:focus,.swiper-container-rtl .swiper-button-next:focus,.swiper-container-rtl .swiper-button-prev:focus{outline:none}.swiper-button-next:after,.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{font-family:feather}.swiper-button-prev{left:0}.swiper-button-prev:after{content:"\E843"}.swiper-button-next{right:0}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:"\E844"}.swiper-container-rtl .swiper-button-next:after{content:"\E843"}.product-color-options .color-option{border:2px solid transparent;border-radius:50%;position:relative;cursor:pointer;padding:.3rem}.product-color-options .color-option .filloption{height:21px;width:21px;border-radius:50%}.product-color-options .selected .b-primary{border-color:#7367f0}.product-color-options .selected .b-success{border-color:#28c76f}.product-color-options .selected .b-danger{border-color:#ea5455}.product-color-options .selected .b-warning{border-color:#ff9f43}.product-color-options .selected .b-black{border-color:#22292f}

.carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;	
}

p.help-block.help-block-error {
    color: red;
}

.mt-100 {margin-top : 0.9rem !important}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-name {
    margin-bottom: 1rem;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options .cartlist {
    margin-top: 84px;
    margin-bottom: 10px;
}

.newbalance-amt {
    color: #dd1225;
}

.has-error .help-block {
    color: red;
}

.required .control-label:after {
  content:"*";color:red;
}

.has-error .form-control, .form-group.has-error .input-group-addon {
    border-color: #dd4b39;
    box-shadow: none;
}


.header-navbar .navbar-container ul.nav li .scrollable-container {
    overflow-y: auto;
}