.pageContent{
	position:absolute;
 	padding-left:10px;
 	padding-right:10px;
 	width:100%;
        overflow-y: scroll;
}
.pageListItem{
	position: absolute;
}
/**
 * 	plugin css
 */

#pluginDetails{
	margin-top: 50px;
}

.imgContainer{
	width: 98%;
        max-height: 500px;
}

#positionButtonDiv{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(58, 56, 63);
	/* RGBa with 0.6 opacity */
	background: rgba(58, 56, 63, 0.8);	
	border: solid 1px #100000;
	color:#FFFFFF;
	padding: 8px;
	text-align: left;
	position:absolute;
	right: 35px;
	top: 190px;
}

#positionButtonDiv .positionButtonSpan img{
	float: right;
	border:0;
}

.positionMapClass area{
	cursor: pointer;
}

.zoomButton{
	border:0;
	cursor: pointer;
}

.zoomableContainer{
	background-image: url("assets/transparent.png");
}